$header_font_size: 20px;

header {
  margin: 0;
  padding: 10px;
  height: 80px;
  background-color: yellow;
  .logo {
    font-size: $header_font_size;
    height: 50%;
  }
  nav {
    margin: 0;
    padding: 0;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-start;
      gap: 8px;
      font-size: $header_font_size;
      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}